<!DOCTYPE html>
<html lang="en"></html>
  
   <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="./css/custom_bootstrap.css">
        <link rel="stylesheet" href="./css/styles.css">
        
        <link rel="icon" href="/images/LynxHead.png">
        <title>SBLynx</title>
    </head>
    
    <body onload="document.getElementById('defaultOpen').click();">

        <div class="main-content">
            {{!-- top banner --}}
            <div style="background-color: #55009c;">
                    <img class="lynxlogo" src=./images/LynxLogo.jpg></img>
            </div>

            {{!-- Tabs configuration --}}
            <div class="tab">
                <button class="tablinks" onClick="openTab(event, 'Setup')">Setup</button>
                <button class="tablinks" onClick="openTab(event, 'Operate')" id="defaultOpen">Operate</button>
                <button class="tablinks" onClick="openTab(event, 'Settings')">Settings</button>
            </div>

            {{!-- Setup tab --}}
            <div id="Setup" class="tabcontent" style="display:block">           
                {{!-- Sport section --}}
                <div class="row">
                    <div class="submenu">SPORT</div>
                </div>
                <div class="container">
                    <div class="row row_spacer"></div>
                    <div class="row">
                        <div class="col-1 col-lg-4"></div>
                        <div class="col-10 col-lg-4 d-grid gap-2">
                            {{!-- Requires saving the sport attribute based on the the selected sport and showing which is now checked --}}
                            <div class="btn-group-vertical" role="group" aria-label="Sport Selection Group">
                                <input type="radio" class="btn-check" name="sport" id="football" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="football">Football</label>

                                <input type="radio" class="btn-check" name="sport" id="soccer" autocomplete="off">
                                <label class="btn btn-outline-primary" for="soccer">Soccer</label>

                                <input type="radio" class="btn-check" name="sport" id="basketball" autocomplete="off">
                                <label class="btn btn-outline-primary" for="basketball">Basketball</label>
                            </div>
                        </div>
                        <div class="col-1 col-lg-4"></div>   
                    </div>
                </div>
                <div class="row row_spacer"></div>
                {{!-- Teams section --}}
                <div class="row">
                    <div class="submenu">TEAMS</div>
                </div>
                <div class="container">
                    <div class="row row_spacer"></div>
                    <div class="row flex-nowrap align-items-center" >
                        <div class="col-1 col-lg-4"></div>
                        <div class="col-6 col-lg-2">
                            <input type="text" id="HomeName" placeholder="Name" Value="{{HomeTeam}}" class="float-end"></input>
                        </div>
                        <div class="col-4 col-lg-2">
                            <input type="color" id="HomeColor" name="Homecolor" Value="{{HomeColor}}" class="float-start"></input>
                        </div>
                    </div>
                    <div class="row flex-nowrap align-items-center" >
                        <div class="col-1 col-lg-4"></div>
                        <div class="col-6 col-lg-2">
                            <input type="text" id="AwayName" placeholder="Name" Value="{{AwayTeam}}" class="float-end"></input>
                        </div>
                        <div class="col-4 col-lg-2">
                            <input type="color" id="AwayColor" name="AwayColor" Value="{{AwayColor}}" class="float-start"></input>
                        </div>
                    </div>
                    {{!-- Save/Reset Buttons --}}
                    <div class="row row_spacer"></div>
                    <div class="row">
                        <div class="col-1 col-lg-4"></div> 
                        <div class="col-10 col-lg-4 d-grid gap-2">
                            <button id="save" class="btn btn-primary" type="button">SAVE</button>
                        </div>
                        <div class="col-1 col-lg-4"></div>
                    </div>
                    <div class="row row_spacer"></div>
                    <div class="row">
                        <div class="col-1 col-lg-4"></div>
                        <div class="col-10 col-lg-4 d-grid gap-2">
                            <button id="clear" class="btn btn-primary" type="button">RESET</button>
                        </div>
                        <div class="col-1 col-lg-4"></div>
                    </div>

                    {{!-- Remove this row once the sport radio buttons are implemented --}}
                    <br>
                    <div class="row">
                        <select name="sport" id="sport" class="sport">
                            <option value="Football">Football</option>
                            <option value="Soccer">Soccer</option>
                            <option value="Basketball">Basketball</option>
                        </select>
                    </div>
                </div>  
            </div>

            <div id="Operate" class="tabcontent">
                <b>{{HomeTeam}}</b><br>
                <input id="HomeScore" class="score-input" type="number" min="0" max="999" placeholder="Score" Value="{{HomeScore}}"></input>
                <button id="IncrementHomeScore" class="button-plus">+</button>
                <button id="DecrementHomeScore" class="button-minus">-</button>
                <br><br>
                <b>{{AwayTeam}}</b><br>
                <input id="AwayScore" class="score-input" type="number" min="0" max="999"  placeholder="Score" Value="{{AwayScore}}"></input>
                <button id="IncrementAwayScore" class="button-plus">+</button>
                <button id="DecrementAwayScore" class="button-minus">-</button>
                <br><br>
                <button id="send">Send</button><br><br>

                <b>Period</b><br>
                <button id="Period">Period</button>
                <input id="SetPeriod" placeholder="Q1" Value="{{SetPeriod}}"></input><br><br>

                <b>Clock</b><br>
                <button id="StartTime">Start</button>
                <button id="StopTime">Stop</button>
                <p id="clockrunning" style="margin-left:2%; color: red">Clock is Stopped</p>
                <button id="SetTime">Set</button>
                <input id="ClockTime" placeholder="Time (mm:ss)" Value="{{SetTime}}"></input><br>
            </div>

            <div id="Settings" class="tabcontent">
                <b>Clock Mode:</b><br>
                <input type="radio" id="clock_countup" name="fav_language" value="up">
                <label for="clock_countup">Count Up</label><br>
                <input type="radio" id="clock_countdown" name="fav_language" value="down">
                <label for="clock_countup">Count Down</label><br>
                <script>
                    // Get the element with id="Count Up" and click on it
                    document.getElementById('clock_countdown').click();
                </script>
            </div>

            <script src="/socket.io/socket.io.js"></script>
            <script src=./js/app.js></script>
            <script src=./js/bootstrap.bundle.min.js></script>
            <script>document.getElementById("sport").value = "{{Sport}}"</script>

            <script>
                document.getElementById("StartTime").addEventListener("click", function() {
                    const text = document.getElementById("clockrunning")
                    text.innerHTML = "Clock is Running"
                    text.style.color = "green"
                })
                document.getElementById("StopTime").addEventListener("click", function() {
                    const text = document.getElementById("clockrunning")
                    text.innerHTML = "Clock is Stopped"
                    text.style.color = "red"
                })
                document.getElementById("IncrementHomeScore").addEventListener("click", function() {
                    document.getElementById("HomeScore").stepUp();
                })
                document.getElementById("DecrementHomeScore").addEventListener("click", function() {
                    document.getElementById("HomeScore").stepDown();
                })
                document.getElementById("IncrementAwayScore").addEventListener("click", function() {
                    document.getElementById("AwayScore").stepUp();
                })
                document.getElementById("DecrementAwayScore").addEventListener("click", function() {
                    document.getElementById("AwayScore").stepDown();
                })
            </script>
            <script>
                function openTab(evt, tabName) {
                    // Declare all variables
                    var i, tabcontent, tablinks;

                    // Get all elements with class="tabcontent" and hide them
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }

                    // Get all elements with class="tablinks" and remove the class "active"
                    tablinks = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                    }
                    // Show the current tab, and add an "active" class to the button that opened the tab
                    document.getElementById(tabName).style.display = "block";
                    evt.currentTarget.className += " active";
                }
           </script>
         </div>
        {{>footer}}
    </body>
</html>